body{
margin: 0;
}
a{
    color: inherit;
}
h2{
    font-size: 1.1em;
}
.yellow{
    color: yellow;
}
.wrapper{
    width: 55%;
    min-width: 576px;
    margin: auto;
    background-color: white;
} 
.out-wrapper{
    background-color: rgba(250, 235, 215, 0.491);
    min-height: 100vh;
    font-family: sans-serif;
}
.header{
    background-color: #280033;
    color: white;
    text-align: center;
    padding: 20px 0;
}
.flex-container{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
}
.social,
.register{
    width: 40%;
    padding: 20px 0;
}
.register{
    display: flex;
    flex-direction: column;
}
.register>*{
    margin-bottom: 15px;
}
.register>label>input:not(input[
    type="checkbox"]){
        width: 100%;
        border: none;
        border-bottom: 1px solid gray;
        font-size: 1.1em;
        padding-bottom: 7px;
}
.register>label>input:not(input[
    type="checkbox"]):focus{
outline: none;
border: none;
border-bottom: 1px solid #280033;
}
.register>label>input:not(input[
    type="checkbox"]):hover{
outline: none;
border: none;
border-bottom: 1px solid black;
    }
    .register>label>input[
    type="checkbox"]{
        height: 0;
        width: 0;
        margin-left: 15px;
    }
    .register>label>input[
    type="checkbox"]::before{
        content: '';
        line-height: 0.9em;
       display: inline-block;
       width: 10px;
       height: 10px;
       border: 1px solid #000;
       transform: translateX(-10px) translateY(-11px);
    }
    .register>label>input[
    type="checkbox"]:checked::before{
        content:'\1F5F8' ;
    }
.social>ul{
    list-style: none;
    padding-left: 0;
}
.register>label>input[type="date"]{
color: #aaa;
font-family: inherit;
}
.register>label>input::placeholder{
    color: #aaa;

}
.register>input[type="submit"]{
background-color: #280033;
color: white;
padding:10px 0 ;
}
.register>input[type="submit"]:hover{
background-color: magenta;
}
.btn{
    display: block;
    color: white;
    border-radius:3px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0;
    margin-bottom:5px ;
}
.fb{
background-color: #0061ab;
}
.google{
background-color: rgb(91, 91, 220);
}
.twitch{
background-color: #4b255f;
}
.apple{
background-color: black;
}
.btn>i{
    background-color: white;
    display: inline-block;
    height:25px ;
    width: 25px;
    border-radius:3px;
    position: absolute;
    left: 5px;
    top: 6px;
    line-height: 25px;
}
.font-s{
    font-size: 15px;
}
.google>i{
    color: rgb(91, 91, 220);
}
.apple>i{
    color: #000;
}

@media screen and (max-width: 1400px) {
    .wrapper{
        width: 60%; 
     }
}
@media screen and (max-width: 1200px) {
    .wrapper{
        width: 70%;
        background-color: purple;
     }
}
@media screen and (max-width: 992px) {
 .wrapper{
    width: 88%;
    background-color: greenyellow;
 }
}
@media screen and (max-width: 768px) {
    .wrapper{
       width: 96%;
       background-color: rgb(85, 47, 255);
    }
    .social,
.register{
    width: 90%;
}
.flex-container{
    flex-direction: column;
    align-items: center;
  } 
   }
 




/* 
Extra extra large  ≥ 1400px
Extra large  ≥ 1200px
Large  ≥ 992px
Medium  ≥ 768px
Small  ≥ 576px
X-Small  < 576px
*/