*{
    box-sizing: border-box;

}


.form {
    display: flex;
    flex-direction: column ;
    width: 90%;
    min-width: 400px;
    max-width: 600px;
    border: 1px solid black;
    margin: auto;
    
} 
.form>*:not(J,h2){
 display: flex;   
 justify-content: flex-start ;
 margin-bottom: 10px;
 align-items: flex-end;
}
.form span{
    display: inline-block;
    width: 30%;
    text-align: right ;
    padding-right: 20px;
}

select,
textarea,
input:not([type="radio"]){
    width: 50%;
    padding: 8px;
}

h2{
width: 375px;
}
.span{
    box-sizing:border-box;
    min-width: 600px;
    background-color:rgba(180, 194, 194, 0.507);
    border: 1px solid gray;
text-transform: uppercase;
}
p{
    margin: auto;
}
.content::after{
    content:'\2731';
    color: tomato;
}

 button{   
height: 40px;
width: 65px;
position: relative;
left: 30%;
font-size: 15px;
text-transform: capitalize;
background-color: rgb(94, 125, 193);
 }   