*{
box-sizing: border-box;

}
.header{ 
height: 120px;
width: 1920px;


display: flex;
align-items: center;
justify-content: end;
font-size: 20px;
background-color: yellow;
}
.text-header{
    height: 24px;
    width: 513px;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  position: relative;
 padding-right: 56px;
 font-family: "montserratalternates";
  
}
.aside{
    background-color: white;
    display: flex;
    position: absolute;
    height: 1019px;
    width: 280px;
}

/*.contact{
    display: flex;
    position: absolute;
    right: 200px;
    padding-top: 48px;
    font-size: 20px;

}
*/
.main{
    width: 1920px;
    height: 942px;
   background-color: yellow;

 
   
}


.wrapper{
height: 1073px;
width: 1920px;


}

 /*   position: absolute;
    display: inline;
    right: 340px;
    padding-top: 47px;
    font-size: 20px;
   */
}
@font-face {
        font-family: "montserratalternates";
        src:
          url('../css/fonts/montserratalternates-black-webfont.woff') format('woff'),
          url('../css/fonts/montserratalternates-black-webfont.woff2') format('woff2');
          
          font-weight: bold;
      }
.lang{
    display: flex;
    align-items: center;
    justify-content: center;
        position: relative;
        left: 1920px;
    background-color: rgb(91, 0, 0);
    width: 120px;
    height: 120px;
    color: aliceblue;
    font-family: "montserratalternates";
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    

}
/*
.burger{
    width: 34px;
    height: 29px;
    background-image: url(./../icons/menu-open.1.png);
   
}
.burger-center{
    width:97px ;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}
*/
 
.logo{
   display: inline-flex;
   align-items: center;
   justify-content: center;
  position: relative;
  width: 280px;
  height: 120px;
background-repeat: no-repeat;
 
}

.article{
    height: 822px;
}
    
.mare{
    transform: translateX(1000px);
    display: flex;
    align-items: center;
  justify-content: end;
}