.main-header{
background-color: rgb(73, 73, 192);
height: 200px;
padding-top: 10px;
background-image: url(./../images/GrassBackground.png), linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 50%, rgba(129,199,255,1) 100%);;
background-repeat: repeat-x, no-repeat;
background-position: 0 120px, 0 0;
}
.main-menu{
list-style: none;
margin: 0;
}
.main-menu-item{
    display: inline;
    margin: 0 1.2em;
}
.main-menu-item>a{
    color: black;
    text-transform: uppercase;
    font-weight: bolder;
}
.main-menu-item>a:hover{
text-decoration: underline;
}
main{
    margin-top: -80px;
}
.main-wrapper{
    width: 45%;
    min-width: 720px;
    margin: auto;
} 

