*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
header{
    background-color: teal;
    text-align: center;
}



.btn-filter{
    padding:10px;
}
.filter{
    display: none;
    background-color: pink;
    padding: 10px;
}
.products{
    display: flex;
    flex-wrap: wrap;
}
.product{
width: 50%;
padding: 3%;
border: 1px solid #ddd;
}
@media screen and (min-width: 768px) {
    header {
      background-color: rgb(40, 8, 8);
    }
    .product {
      width: 33.33%;
    }
  }
  @media screen and (min-width: 992px) {
    .btn-filter {
      display: none;
    }
    .filter {
      display: block;
    }
    main {
      flex-direction: row;
    }
    .product {
      width: 25%;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .product {
      width: 20%;
    }
  }
  @media screen and (min-width: 1400px) {
    .product {
      width: 16.66%;
    }
  }
  
  @media print {
    header {
      text-align: right;
    }
    aside {
      display: none;
    }
  }
  
  @media all {
  }

