.main-menu{
    width: 900px;
    list-style: none;
    background-color: #444444;
    margin: auto;
    padding-left: 0;
}
.main-menu-link{
    
    display: inline-block;
    color: white;
    text-decoration: none;
    margin: 12px; 
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: -25px;
    text-transform: uppercase;
    text-decoration: none;
   /* padding: 12px 20px;
    
    padding-bottom: 40px;
    padding-left: ;
    padding-right: ; */
}
.main-menu-item{ 
    display: inline-block;
    position: relative;
    border-top: 3px solid red;
}
.main-menu-item:hover{
    border-top: 3px solid red;
}
.main-menu-item:hover > .submenu{
    display: block;
}
.main-menu-item:has(>.submenu)::after{
    content: '\25BC';
    color: #fff;
    display: inline-block;
    font-size: 60%;
    padding-right: 30px;
    transform: translateY(-2px);
}
.submenu{
    display: none;
    position: absolute;
    width: 100%;
    top: 63px;
    left: -15%;
    padding-right: 70%;
    list-style: none;               
    background-color: white;


}
.submenu:has(>.submenu-item)::before {
content: '\23F5';
display: inline-block;
font-size: 70%;
transform: translateY(100px);
transform: translateX(240px);


}
    
.submenu-item{
    position: relative;
}
.submenu-link{
    color: black;
    text-decoration: none;
}
.submenu-link:hover{
    color: white;
    background-color: #e03434;
}
.submenu-item:hover > .submenu{
display: block;
left: 100%;
top: 0;
}
.submenu-item:has(>.submenu)::after {
    content: '\1433';
}


